body {
    background-color: #0b328e90;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    color: #3c0c6c;
    text-align: center;
    background-color: rgb(230, 238, 238);

}

p {
    font-style: oblique;
}

a {
    color: rgb(98, 68, 220);
    background-color: rgba(185, 166, 177, 0.76);
    font-weight: bold;
}

#zaywalker {
    background-color: rgb(194, 194, 170);
}

.highlight {
    color: rgba(220, 180, 211, 0.806);
}


nav ul {
    list-style-type: none;
}

/* mobile */
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    background-color: white;
    padding: 15px;
    margin: 10px;
}

/* desktop */
@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    article {
        flex: 1;
    }
}